@model ProductCategoryCRUD.Models.Category

<body>

    <h1>Update Category</h1>
    <h4>Category</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form method="post" action="/Category/UpdateCategory">
             

                <div class="form-group">
                    <label for="Id">Category ID</label>
                    <input id="Id" name="Id" type="text" class="form-control" value="@Model.Id" readonly />
                   
                </div>

                <div class="form-group">
                    <label for="CName">Category Name</label>
                    <input id="CName" name="CName" type="text" class="form-control" value="@Model.CName" />
                  
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/Category/Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
